.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 8.5rem;
    margin-bottom: 2rem;
}

.filter__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    margin-bottom: 1rem;
}

.filter__wrapper:last-child {
    display: flex;
    justify-content: flex-start;
    height: 5.5rem;
    background-color: var(--background-admin-panel-day-light);
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}

.filter__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.filter__input-button {
    padding: 0 0 0 0.125rem;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.filter__input-icon {
    display: none;
    width: 1rem;
    height: 1rem;
    fill: inherit;
}

.filter__input-icon_incorrect {
    display: block;
    stroke: var(--background-admin-panel-light);
}

.filter__input-icon_drop {
    display: block;
    fill: var(--background-admin-panel-light);
}

.filter__input-icon_drop:hover {
    fill: var(--background-admin-panel-medium);
}

.filter__input-icon_incorrect:hover {
    stroke: var(--background-admin-panel-medium);
}

.filter__input-icon_disabled {
    display: block;
}

.filter__dropdown-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 2rem;
    top: 3.75rem;
    width: 10rem;
    height: 12.875rem;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    background-color: var(--background-admin-panel-white);
    box-shadow: 0 0.5rem 2rem var(--background-admin-panel-shadow), 0 0.25rem 0.5rem var(--background-admin-panel-shadow), 0 0.125rem 0.125rem var(--background-admin-panel-shadow);
    z-index: 10;
}

.filter__dropdown-item {
    display: flex;
    width: 100%;
    height: 2rem;
    padding: 0.5rem 1rem;
    background-color: var(--background-admin-panel-white);
}

.filter__dropdown-item:hover {
    background-color: var(--background-admin-panel-light);
}

.filter__dropdown-control {
    display: flex;
    cursor: pointer;
    width: 100%;
}

.filter__dropdown-checkbox-group {
    position: relative;
    display: flex;
    align-items: center;
}

.filter__dropdown-checkbox {
    appearance: none;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem 0 0;
    border: 0.0625rem solid var(--background-admin-panel-light);
    border-radius: 0.125rem;
    background-color: var(--background-admin-panel-white);
}

.filter__dropdown-checkbox:checked {
	background-color: var(--background-admin-panel-medium);
    border-color: var(--background-admin-panel-medium);
}

.filter__dropdown-checkbox:active, 
.filter__dropdown-checkbox:checked:active {
	box-shadow: 0 0 0.125rem var(--background-admin-panel-medium), inset 0 0 0.125rem var(--background-admin-panel-medium);
}

.filter__dropdown-checkbox:focus {
    outline-color: var(--background-admin-panel-light);
}

.filter__dropdown-checkbox:checked + .filter__dropdown-icon {
    opacity: 1;
}

.filter__dropdown-icon {
    position: absolute;
    width: 1rem;
    height: 1rem;
    fill: var(--background-admin-panel-white);
    opacity: 0;
    transition: opacity 0.25s ease-in;
}

.filter__dropdown-item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1rem;
    font-size: 0.8125rem;
}